.App {
  text-align: center;
  margin: 0 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  font-weight: 600;
}
a {
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
}
a:hover {
  color: #ff4a00;
}

.active {
  color: rgb(255, 215, 0);
}

.my-active{
  color: red
}


button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #ffe6cb;
  border: none;
  margin: 10px 0;
  text-align: center;
}

button:hover {
  color: #ff4a00;
}
